 :root {
    --color5: #323330;
    --color4: #45462a;
    --color3: #7e5920;
    --color2: #dc851f;
    --color1: #ffa737;
    --white: #fff;
    --black: #010101;

    --main-font: 'Roboto', sans-serif;
    --legendary: 'Great Vibes', cursive;
    --myTitle: 'Rubik Bubbles', cursive;
 }
 /* Box Sizing and 1px/1rem "Hacks" */
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-size: 1.6rem;
    font-family: var(--main-font);
    background-color: var(--color5);
}
h1, h2, h3 {
    text-align: center;
    font-family: var(--myTitle);
}
h3, h2 {
    margin: 0;
}
h2 {
    margin-top: 10px;
    color: #7e5920;
}
h1 {
    color: #ffa737;
    font-size: 5.4rem;
}
    /* Main Section */
.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    margin: 0 auto;
    height: 600px;
    max-width: 1000px;
    background-color: antiquewhite;
}
.myBooks {
    grid-column: 1 / 3;
}
    /* Book */
.myBooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: cadetblue;
    overflow: auto;
}
.book-container {
    display: flex;
}
.book {
    height: 240px;
    width: 190px;
    background-color: var(--color3);
    border: 10px outset var(--color1);
    padding: 30px;
    margin: 30px;
}
.book-name {
    background-color: bisque;
}
.book-name p {
    text-align: start;
    line-break: anywhere;
}
.button-div {
    display: flex;
    justify-content: space-between;
    background-color: var(--color5);
    color: var(--white);
}
.del {
    background-color: crimson;
    border-radius: 50%;
}
.del:hover {
    background-color: var(--color1);
}
    /* library Count Section */
.library-info {
        background-color: var(--color2);
    }
.library-log {
    text-align: center;
    font-size: 26px;
}
.library-log span {
    margin-top: 30px;
    font-size: 34px;
}
    /* Form section */
.newBook {
    background-color: var(--color2);
    border-style: groove;
}
.form {
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
}
#pages {
    width: 140px;
    border-style: dashed;
    background-color: transparent;
    font-size: 5rem;
}
.button {
    padding: 20px;
    border: none;
    border-radius: 8px;
    background-color: dodgerblue;
    margin: 20px;
    font-size: 2.4rem;
    color: var(--white);
}
.readLegend {
    background-color: var(--color4);
    color: var(--white);
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}
.readLegend input {
    margin-right: 20px;;
}
.div-pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.text {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 15px;

}
.text input {
    font-size: 24px;
    height: 40px;
    border-radius: 10px;
}
    /* Add book Section */


.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
}
.info p {
    margin: 10px;
}
.info p:first-of-type {
    line-break: anywhere;
}
.myBooks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
    justify-items: center;
    background-color: var(--color4);
    border: 30px solid var(--color3);
    border-style: inset inset none;
    font-size: 2.4rem;
}
 /* Legendary book */
 .legend {
    background-color: var(--color5);
    border: 10px outset var(--color2);
    font-family: var(--legendary);
}
.legend .book-name {
    background-color: crimson;
    color: #ffa737;
    outline: 3px solid var(--color1);
    text-align: center;
}
 /* others */
.button-div::before {
    content: "Remove book";

}
