 :root {
    --color5: #323330;
    --color4: #45462a;
    --color3: #7e5920;
    --color2: #dc851f;
    --color1: #ffa737;
    --white: #fff;
    --black: #010101;

    --main-font: 'Roboto', sans-serif;
    --legendary: 'Great Vibes', cursive;
    --myTitle: 'Rubik Bubbles', cursive;
 }
 /* Box Sizing and 1px/1rem "Hacks" */
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-size: 1.6rem;
    font-family: var(--main-font);
}
h1, h2 {
    text-align: center;
    font-family: var(--myTitle);
}
    /* Main Section */
.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    margin: 0 auto;
    height: 600px;
    max-width: 800px;
    background-color: antiquewhite;
}
.myBooks {
    grid-column: 1 / 3;
}
    /* Book */
.myBooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: cadetblue;
    overflow: auto;
}
.book-container {
    display: flex;
}
.book {
    height: 240px;
    width: 190px;
    background-color: blue;
    padding: 30px;
    margin: 30px;
}
.book-name {
    background-color: #fff;

}
    /* Add book Section */
.form {
    font-size: 2rem;
}
#pages {
    width: 60px;
}
.button {
    padding: 20px;
    border: none;
    background-color: dodgerblue;
}